body { 
    margin: 0; 
    padding-bottom: 3rem; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}





#loginCard {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;

    padding: 2rem;
}
  
#loginCard:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}






#form { 
    background: rgba(0, 0, 0, 0.15); 
    padding: 0.25rem; 
    position: fixed; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    display: flex; 
    height: 3rem; 
    box-sizing: border-box; 
    backdrop-filter: blur(10px); 
}

#input { 
    border: none; 
    padding: 0 1rem; 
    flex-grow: 1;
    border-radius: 0.5rem;
    margin: 0.25rem; 
}

#input:focus { 
    outline: none; 
}

#count {
    padding: 0 1rem;
    margin: 0.25rem;
    margin-top: 0.75rem;
}

#form > button { 
    background: #333; 
    border: none; 
    padding: 0 1rem; 
    margin: 0.25rem; 
    border-radius: 3px; 
    outline: none; 
    color: #fff; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages > li { 
    padding: 0.5rem 1rem; 
}

/*
#messages > li:nth-child(odd) { 
    background: #efefef; 
}*/